@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap'); /* Poppins font */

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #131316;
    color: #fefefe;
    font-family: 'Poppins', sans-serif;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    width: 50%;
    margin: 0 auto;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

p {
    font-size: 32px;
    font-weight: 200;
}